@import "vars"


@media only screen and (max-width : 1199px)


	.head
		margin-bottom: 50px
		&-xcol-1
			flex: 0 0 50%
			max-width: 50%
		&-xcol-2
			flex: 0 0 50%
			max-width: 50%
		&-xcol-3
			flex: 0 0 100%
			max-width: 100%
	
		&-info
			padding-right: 0

	.contacts
		margin-top: 20px
		justify-content: center

	.head-btn-wrap
		margin-left: 0


	.remont
		&-xcol-1
			flex: 0 0 43%
			max-width: 43%
			order: 1
		&-xcol-2
			flex: 0 0 28%
			max-width: 28%
			order: 2
		&-xcol-3
			flex: 0 0 25%
			max-width: 25%
			margin-left: 0
			order: 3
		&-xcol-4
			flex: 0 0 92%
			max-width: 92%
			margin-left: 8%
			order: 4


	.remont-akpp-symptoms
		background-size: 100% 100%
		padding-bottom: 15px
	.remont-akpp-text
		font-size: 18px
	.remont-akpp-pricing
		font-size: 26px
	.repair-btn
		width: 100%




	.otzuvu
		padding: 0





	.section-form
		padding: 25px 0
		background-image: linear-gradient(90deg, #8795a2 50%, #0074a5 50%)
		&-xcol-1, &-xcol-2
			flex: 0 0 50%
			max-width: 50%
		&-info
			display: flex
			align-items: center
			padding: 0 100px
			&::after
				display: none
		&-form
			max-width: 80%
			margin: 0 auto

		.label-name, .label-tel
			margin-right: 0
			margin-bottom: 20px
			padding-left: 40px

		.section-form-form input, .form-btn
			max-width: 220px
			width: 100%
		.section-form-form input
			margin-bottom: 20px
		.form-btn
			margin-left: 40px
			padding: 8px




	.map-container
		margin: 0




	.decorated-head-icon::after
		right: -35px











	.footer
		height: 100%
		padding: 20px 0
		&-xcol-1
			flex: 0 0 40%
			max-width: 40%
		&-xcol-2
			flex: 0 0 30%
			max-width: 30%
			display: flex
			align-items: center
		&-xcol-3
			flex: 0 0 30%
			max-width: 30%
		&-xcol-4
			flex: 0 0 100%
			max-width: 100%
			display: flex
			align-items: center
			justify-content: center
		.contacts
			margin-top: 0
		.copy
			margin-top: 20px
			text-align: center


	/**/





















@media only screen and (max-width : 991px)

	.menu-wrap
		display: block
		padding-right: 0

	.navicon
		background: transparent
		position: fixed
		top: 72px
		right: 15px
		height: 15px
		width: 40px
		display: block
		z-index: 101
		transition: linear 0.3s all
		&:before, &:after
			background: #054b69
			backface-visibility: hidden
			content: ""
			height: 5px
			left: 0
			transition: 0.8s ease
			width: 40px
		&:before
			box-shadow: #054b69 0 14px 0 0
			position: absolute
			top: 0
		&:after
			position: absolute
			top: 28px

	.navicon--active
		top: 52px
		transition: linear 0.3s all
		&:before
			box-shadow: transparent 0 0 0 0
			top: 15px
			transform: rotate(225deg)
		&:after
			top: 15px
			transform: rotate(315deg)

	.toggle
		display: block
		height: 100%
		position: fixed
		top: 10%
		right: 5%
		z-index: 100
		overflow-x: hidden
		overflow-y: auto
		margin: 20px auto
		background-color: $accent-color
		padding: 15px
		display: block
		opacity: 0
		box-shadow: 0 0 20px rgba(255,255,255,.1)
		transition: ease-in 0.5s all
		transform: translateY(-200%)
		min-width: 290px

	.toggle--active
		display: block
		opacity: 1
		transition: ease-in 0.5s all
		transform: translateY(0)

	.toggle__menu
		display: block
		background-image: none
		li
			margin: 10px auto
		a
			text-decoration: none
			color: #000
			display: block
			text-align: center
			font-size: 17px
			text-transform: uppercase
			border-bottom: 2px solid transparent
			transition: linear 0.3s all
			font-weight: 500
			padding: 5px 0
			&:hover
				color: #db5523
				border-bottom: 1px solid #fff
				transition: linear 0.3s all


	.logotype
		&-text
			font-size: 40px
		&-descr
			letter-spacing: 2px

	.head-info
		font-size: 14px



	.remont
		&-xcol-1
			flex: 0 0 100%
			max-width: 100%
			order: 0
		&-xcol-2
			flex: 0 0 100%
			max-width: 100%
			order: 0
		&-xcol-3
			flex: 0 0 100%
			max-width: 100%
			margin-left: 0
			order: 0
		&-xcol-4
			flex: 0 0 100%
			max-width: 100%
			margin-left: 0
			order: 0
		.slider-nav
			max-height: 100%
			padding: 5px 50px 15px
			background-image: linear-gradient(to right, transparent, rgba(255,255,255,.25) 50%, transparent)
			&-prev, &-next
				width: 31px
				height: 21px
				top: 50%
			&-prev
				left: 0
				transform: translateY(-50%) rotate(-90deg)
				&:hover
					background-position: 100% 0
			&-next
				left: auto
				right: 0
				transform: translateY(-50%) rotate(-90deg)
				background-position: 0 100%
				&:hover
					background-position: 100% 100%

	.remont-akpp
		margin-top: 30px
		text-align: center
	.remont-akpp-text
		display: inline-block
	.remont-akpp-symptoms
		margin-left: auto
		margin-right: auto
	.repair-btn
		width: 241px


	.section-3
		&-xcol
			flex: 0 0 100%
			max-width: 100%




	.otzuvu
		&-xcol-1
			flex: 0 0 100%
			max-width: 100%
			padding: 0 20px
		&-xcol-2
			flex: 0 0 100%
			max-width: 100%
			padding: 0 20px

	.slider-otzuvu
		&-content
			margin-top: 30px
		&-prev, &-next
			top: 40%
	.otzuvu-btn-wrap
		text-align: center



	.section-form
		&-info
			padding: 0 35px
		&-form-wrap
			padding: 0


	.section-5
		&-locations
			padding: 0
		&-address-wrap
			padding: 10px 0
		&-address::before
			top: 23%







	.text-xrow
		display: block
	.text-xcol-1, .text-xcol-2
		max-width: 100%

	.decorated-head-icon
		max-width: 350px
		margin: 0 auto



	.footer
		background-size: cover
		&-xcol-1, &-xcol-2, &-xcol-3, &-xcol-4
			flex: 0 0 100%
			max-width: 100%
			display: flex
			justify-content: center
		.logotype
			max-width: 315px
			margin: 0 auto
		.footer-info
			margin-top: 20px
		.contacts
			margin-top: 20px
		.copy
			margin-top: 20px




	/**/




















@media only screen and (max-width : 767px)

	.float-right
		float: none
	.float-left
		float: none




	.head
		.xrow
			display: block
		&-xcol-1
			max-width: 100%
		&-xcol-2
			max-width: 100%
		&-xcol-3
			max-width: 100%

		.logotype
			display: flex
			justify-content: center
			margin-left: auto
			margin-right: auto
			&-text-wrap
				margin-left: 0
		&-info
			margin-top: 20px
			text-align: center


	.section-3
		&-wrapper
			padding: 20px 0 0 



	.section-5
		.xrow
			display: block
		&-xcol
			min-width: 100%






	.section-text
		.imgage-wrap
			margin: 0 auto 20px
		table
			width: 80%
			min-width: auto
			thead tr 
				position: absolute
				top: -9999em
				left: -9999em

			tr, td 
				display: block
				position: relative
				text-align: left

			td 
				border: none
				border-bottom: 0.125em solid #fece0a
				padding-left: 50%
				background-image: none
				&::before 
					content: attr(data-label)
					display: inline-block
					font-weight: bold
					line-height: 1.5
					margin-left: -95%
					width: 100%
					color: #003366
				&::after
					content: ''

			tr:last-child
				td:last-child
					border-bottom: none

			.image-cell
				display: inline-block
				width: 100%
				position: absolute
				top: -2px
				transform: translateX(-30px)
				border: none
				text-align: left

		.image-gallery
			display: block
			margin-top: 20px
			padding: 0

		.image-wrap
			margin-left: auto
			margin-right: auto
			&-sm, &-md, &-lg
				overflow: hidden
				margin: 0 auto 20px
				&:last-child
					margin-bottom: 0




	.modal-form-wrap
		.xrow
			display: block
			height: auto
		.modal-form-xcol-1, .modal-form-xcol-2
			max-width: 100%
		.modal-form-xcol-1
			margin-right: 0
		.geoloctaion
			padding: 0

		.t-255
			top: 255px
		.b-318
			bottom: 318px

		.tel-input, .time-date
			width: 48%

		.cd-checkbox
			max-width: 205px


		.slick-slider
			margin-top: 30px
			.img-wrap
				img
					display: inline-block








	.er404
		font-size: .5em





	/**/
















@media only screen and (max-width : 576px)

	.remont
		.slider-nav-wrap
			display: none
		.slider-for-wrap
			.slick-arrow
				display: inline-block
		.slider-for
			margin-top: 0
		.slider-for-image
			min-height: 250px
			min-width: auto
			max-width: 220px
			margin-left: auto
			margin-right: auto


	.remont-offer-list
		margin-top: -10px
		font-size: 18px
	.repair-attention
		padding: 17px 20px
	.repair-attention-symbol
		margin-right: 15px



	.section-3
		&-item
			min-height: 101px
			padding: 0 4px
		&-text
			padding-left: 9px
			font-size: 1.12em



	.section-form
		background: #0074a5
		.xrow
			display: block

		&-xcol-1, &-xcol-2
			max-width: 100%

		&-info
			background-color: transparent
			text-align: center
			margin-bottom: 30px
		&-form
			max-width: 290px













	.section-text
		font-size: .8888888888888889em
		table
			width: 100%
		ul, ol
			li
				width: 100% !important
				float: none !important
		blockquote
			margin: 20px 0
			padding: 15px 0



	.feedback-modal-form, .callback-modal-form
		label
			flex-wrap: wrap
		.name, .tel
			width: 100%



	.er404
		padding-top: 5vh
		font-size: .4em

	/**/









@media only screen and (max-width : 480px)


	.logotype
		&-text
			font-size: 36px
		&-descr
			letter-spacing: 1px


	.slider-otzuvu
		&-prev, &-next
			top: 28%

	.section-separator
		height: 10px



	.section-5
		&-address::before
			top: 32%
			right: 20px




	.section-6
		padding: 20px 0 40px

	.map-container
		height: 400px


	.section-text
		table
			font-size: 13px
			td
				&::before 
					width: 95%
			.image-cell
				transform: translate(-27px,-1px)


	.decorated-head-icon::after
		right: 50%
		transform: translateX(50%)
		top: auto
		bottom: -40px




	.feedback-modal-form, .callback-modal-form
		max-width: 100%




	.scroll-btn-wrapper
		display: none !important

	.call-button
		transform: scale(.8)





	/**/









@media only screen and (max-width : 320px)

	/**/



@media (min-width: 576px) 
	.xcontainer 
		max-width: 540px
  

@media (min-width: 768px)
	.xcontainer, .section-text
		max-width: 720px

@media (min-width: 992px)
	.xcontainer, .section-text
		max-width: 960px

@media (min-width: 1200px)
	.xcontainer, .section-text
		max-width: 1110px