@import "vars"


@media only screen and (max-width : 1199px)


	.head
		margin-bottom: 50px
		&-xcol-1
			flex: 0 0 50%
			max-width: 50%
		&-xcol-2
			flex: 0 0 50%
			max-width: 50%
		&-xcol-3
			flex: 0 0 100%
			max-width: 100%
	
		&-info
			padding-right: 0

	.contacts
		margin-top: 20px
		justify-content: center

	.head-btn-wrap
		margin-left: 0



	.remont-akpp-symptoms
		background-size: 100% 100%
		padding-bottom: 15px
	.remont-akpp-text
		font-size: 18px
	.remont-akpp-pricing
		font-size: 26px
	.repair-btn
		width: 100%



	/**/

@media only screen and (max-width : 991px)

	.menu-wrap
		display: block
		padding-right: 0

	.navicon
		background: transparent
		position: fixed
		top: 72px
		right: 15px
		height: 15px
		width: 40px
		display: block
		z-index: 101
		transition: linear 0.3s all
		&:before, &:after
			background: #fff
			backface-visibility: hidden
			content: ""
			height: 3px
			left: 0
			transition: 0.8s ease
			width: 40px
		&:before
			box-shadow: #fff 0 14px 0 0
			position: absolute
			top: 0
		&:after
			position: absolute
			top: 28px

	.navicon--active
		top: 52px
		transition: linear 0.3s all
		&:before
			box-shadow: transparent 0 0 0 0
			top: 15px
			transform: rotate(225deg)
		&:after
			top: 15px
			transform: rotate(315deg)

	.toggle
		display: block
		height: 100%
		position: fixed
		top: 10%
		right: 5%
		z-index: 100
		overflow-x: hidden
		overflow-y: auto
		margin: 20px auto
		background-color: $accent-color
		padding: 15px
		display: block
		opacity: 0
		box-shadow: 0 0 20px rgba(255,255,255,.1)
		transition: ease-in 0.5s all
		transform: translateY(-200%)
		min-width: 290px

	.toggle--active
		display: block
		opacity: 1
		transition: ease-in 0.5s all
		transform: translateY(0)

	.toggle__menu
		display: block
		background-image: none
		li
			margin: 10px auto
		a
			text-decoration: none
			color: #000
			display: block
			text-align: center
			font-size: 17px
			text-transform: uppercase
			border-bottom: 2px solid transparent
			transition: linear 0.3s all
			font-weight: 500
			padding: 5px 0
			&:hover
				color: #db5523
				border-bottom: 1px solid #fff
				transition: linear 0.3s all











	.logotype
		&-text
			font-size: 40px
		&-descr
			letter-spacing: 2px

	.head-info
		font-size: 14px




	.remont
		&-xcol-1
			flex: 0 0 100%
			max-width: 100%
			order: 0
		&-xcol-2
			flex: 0 0 100%
			max-width: 100%
			order: 0
		&-xcol-3
			flex: 0 0 100%
			max-width: 100%
			margin-left: 0
			order: 0
		&-xcol-4
			flex: 0 0 100%
			max-width: 100%
			margin-left: 0
			order: 0
		.slider-nav
			max-height: 100%
			padding: 5px 50px 15px
			background-image: linear-gradient(to right, transparent, rgba(255,255,255,.25) 50%, transparent)
			&-prev, &-next
				width: 31px
				height: 21px
				top: 50%
			&-prev
				left: 0
				transform: translateY(-50%) rotate(-90deg)
				&:hover
					background-position: 100% 0
			&-next
				left: auto
				right: 0
				transform: translateY(-50%) rotate(-90deg)
				background-position: 0 100%
				&:hover
					background-position: 100% 100%

	.remont-akpp
		margin-top: 30px
		text-align: center
	.remont-akpp-text
		display: inline-block
	.remont-akpp-symptoms
		margin-left: auto
		margin-right: auto
	.repair-btn
		width: 241px


	/**/



@media only screen and (max-width : 767px)

	.float-right
		float: none
	.float-left
		float: none




	.head
		.xrow
			display: block
		&-xcol-1
			max-width: 100%
		&-xcol-2
			max-width: 100%
		&-xcol-3
			max-width: 100%

		.logotype
			display: flex
			justify-content: center
			margin-left: auto
			margin-right: auto
			&-text-wrap
				margin-left: 0
		&-info
			margin-top: 20px
			text-align: center













	.block-text
		.img-wrap
			margin: 0 auto 20px
		.mt-20
			margin-top: 20px
		table
			width: 80%
			min-width: auto
			thead tr 
				position: absolute
				top: -9999em
				left: -9999em

			tr, td 
				display: block
				position: relative

			td 
				border: none
				border-bottom: 0.125em solid #fece0a
				padding-left: 50%
				background-image: none
				&::before 
					content: attr(data-label)
					display: inline-block
					font-weight: bold
					line-height: 1.5
					margin-left: -95%
					width: 100%
					color: #000
				&::after
					content: ''

			tr:last-child
				td:last-child
					border-bottom: none

			.img-cell
				display: inline-block
				width: 100%
				position: absolute
				top: -2px
				transform: translateX(-30px)
				border: none
		.text-img-gallery
			display: block
			margin-top: 20px
			padding: 0
			.img-wrap
				&-sm, &-md, &-lg
					overflow: hidden
					margin: 0 auto 20px
					&:last-child
						margin-bottom: 0



	.er404
		font-size: .5em

	/**/


@media only screen and (max-width : 576px)

	.remont
		.slider-nav-wrap
			display: none
		.slider-for-wrap
			.slick-arrow
				display: inline-block
		.slider-for
			margin-top: 0
		.slider-for-image
			min-height: 250px
			min-width: auto
			max-width: 220px
			margin-left: auto
			margin-right: auto


	.remont-offer-list
		margin-top: -10px
		font-size: 18px
	.repair-attention
		padding: 17px 20px
	.repair-attention-symbol
		margin-right: 15px




















	.block-text
		font-size: .8888888888888889em
		table
			width: 100%
		ul, ol
			li
				width: 100% !important
				float: none !important






	.er404
		padding-top: 5vh
		font-size: .4em

	/**/









@media only screen and (max-width : 480px)


	.logotype
		&-text
			font-size: 36px
		&-descr
			letter-spacing: 1px












	.block-text
		table
			font-size: 13px
			td
				&::before 
					width: 95%
			.img-cell
				transform: translate(-27px,-1px)





	.scroll-button-wrap
		display: none !important

	.call-button
		transform: scale(.8)


	/**/









@media only screen and (max-width : 320px)

	/**/



@media (min-width: 576px) 
	.xcontainer 
		max-width: 540px
  

@media (min-width: 768px)
	.xcontainer, .block-text
		max-width: 720px

@media (min-width: 992px)
	.xcontainer, .block-text
		max-width: 960px

@media (min-width: 1200px)
	.xcontainer, .block-text
		max-width: 1170px