$default-font-family: "Calibri Regular", sans-serif
$title-font-family: "Calibri Bold", sans-serif

$accent-color: #fece0a
$accent-hover-color: #fffd5f

$title-color: #2da2c3
$ceo-text-color: #4f4f4f


$bd-rad: 5px