$default-font-family: "Roboto-Regular", sans-serif
$title-font-family: "Roboto-Black", sans-serif

$accent-color: #063549

$title-color: #054b69

$modal-window-color: #003366
$modal-window-bgi: linear-gradient(0deg, #003366 42%, #006699)
$modal-window-border: 2px solid #646464