@import "fonts"
@import "vars"
@import "libs"


article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary
	display: block


h1, .section-head
	margin: 0.67em 0


button, input, optgroup, select, textarea
	color: inherit
	font: inherit
	margin: 0

button
	overflow: visible
	text-transform: none


button, html input[type="button"]
	cursor: pointer

input
	&[type="reset"], &[type="submit"]
		-webkit-appearance: button
		cursor: pointer

button[disabled], html input[disabled]
	cursor: default

button::-moz-focus-inner
	border: 0
	padding: 0

input
	&::-moz-focus-inner
		border: 0
		padding: 0
	line-height: normal
	&[type="checkbox"], &[type="radio"]
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box
		padding: 0
	&[type="number"]
		&::-webkit-inner-spin-button, &::-webkit-outer-spin-button
			height: auto
	&[type="search"]
		-webkit-appearance: textfield
		-webkit-box-sizing: content-box
		-moz-box-sizing: content-box
		box-sizing: content-box
		&::-webkit-search-cancel-button, &::-webkit-search-decoration
			-webkit-appearance: none


table
	border-spacing: 0

td, th
	padding: 0

html
	font-size: 10px
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
	font-family: sans-serif
	-ms-text-size-adjust: 100%
	-webkit-text-size-adjust: 100%

input, button, select, textarea
	font-family: inherit
	font-size: inherit
	line-height: inherit

a
	background-color: transparent
	color: #337ab7
	text-decoration: none
	&:hover
		color: #23527c
		text-decoration: underline
	&:focus
		color: #23527c
		text-decoration: underline
		outline: 5px auto -webkit-focus-ring-color
		outline-offset: -2px
	&:active, &:hover
		outline: 0

img
	border: 0
	vertical-align: middle
// ===================================================================


*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box


*::-webkit-input-placeholder
	color: #004c78
	opacity: 1

*:-moz-placeholder
	color: #004c78
	opacity: 1

*::-moz-placeholder
	color: #004c78
	opacity: 1

*:-ms-input-placeholder
	color: #004c78
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #004c78

body input:required:valid,
body textarea:required:valid
	color: #004c78


html, body
	overflow-x: hidden
body
	max-width: 1920px
	min-width: 320px
	margin: 0 auto
	position: relative
	font: 16px/1.4 $default-font-family
	

.responsive-image
	display: block
	max-width: 100%
	height: auto

.no-wrap
	white-space: nowrap

.ta-center
	text-align: center

::selection
	background-color: $accent-color
	color: #fff


.xcontainer
	width: 100%
	margin-right: auto
	margin-left: auto
	padding-left: 15px
	padding-right: 15px

.xrow
	display: flex
	flex-wrap: wrap
	margin-right: -15px
	margin-left: -15px

.no-padding
	margin-right: 0
	margin-left: 0
	> .xcol
		padding-right: 0
		padding-left: 0


.frow
	&:before, &:after
		content: " "
		display: table

.clear
	&:before, &:after
		content: " "
		display: table

.clear:after, .fcontainer:after, .frow:after
	clear: both

.xcol, .fcol
	position: relative
	min-height: 1px
	padding-right: 15px
	padding-left: 15px
.xcol
	width: 100%
.fcol
	float: left








// ==============================================================
ol, ul
	margin: 0
	padding-left: 0
	list-style-type: none


.section-head
	margin: 0
	padding: 0
	font: 1.625em/1 $title-font-family
	text-align: center
	text-transform: uppercase
	color: $title-color
.section-text
	font-size: 16px
	font-weight: bold
	color: #000

.btn
	border-radius: 5px
	border: 1px solid #fff
	outline: none
	font: 12px $title-font-family
	text-transform: uppercase
	cursor: pointer
	color: #fff
	background-image: linear-gradient( to top, rgba(10,72,156,.97) 0%, rgba(18,151,236,.97) 100%), repeating-linear-gradient(-45deg, transparent, transparent 15%, rgba(0,0,0,.6) 15%, rgba(0,0,0,.6) 30%)
	transition: all .3s
	&:hover
		box-shadow: inset 0 0 20px 5px rgba(255,255,255,.35)
		background-position: -1000px 0
		transition: all .3s
	&:active
		transform: translate(1px, 1px)


.slick
	&-arrow
		display: inline-block
		position: absolute
		background-image: url('../img/slider-arrows.png')
		background-repeat: no-repeat
		z-index: 1
		cursor: pointer
	


.float-right
	float: right
.float-left
	float: left


.slide
	outline: none


.image-wrap
	overflow: hidden
	margin: 0 auto
	background-color: #2a456e
	border-radius: 10px


.icon
	float: left
	background: url('../img/sprite.png') no-repeat

.mfp-image
	cursor: pointer

// ==========================================================










.xwrapper
	max-width: 1920px
	margin: 0 auto










.section-1
	padding: 20px 0 40px
	background: #06364c url('../img/top-bg.png') no-repeat
	background-size: cover
	background-position: 50% 0
	color: #fff


.logotype
	&-img
		float: left
		width: 57px
		height: 66px
	&-text-wrap
		margin-left: 65px
		font-family: $title-font-family
	&-text
		font-size: 42px
		line-height: 1
		text-transform: uppercase
		color: #a2aeb8
		&-colored
			color: #0075a7
		&-smaller
			font-size: 30px
	&-descr
		padding-left: 3px
		font-size: 12px
		text-transform: uppercase
		letter-spacing: 3px
		color: #fff

.head
	margin-bottom: 30px
	&-xcol-1
		flex: 0 0 35%
		max-width: 35%
	&-xcol-2
		flex: 0 0 38%
		max-width: 38%
	&-xcol-3
		flex: 0 0 27%
		max-width: 27%

	&-info
		padding-right: 10px
		text-align: right
		font-size: 16px
		line-height: 1.4
		font-style: italic
		color: #fff
	&-worktime, &-address
		margin: 0
	&-worktime
		margin-bottom: 10px


.contacts
	display: flex
	align-items: center
.phones-wrap
	margin-left: 20px
.phone-link
	font-size: 22px
	color: #fff
	cursor: default
	&:hover
		color: #fff
		text-decoration: none
.head-phone-icon
	width: 29px
	height: 44px
	background-position: 0 0
.head-btn-wrap
	text-align: center
.head-btn
	width: 163px
	padding: 12px 0



.menu-wrap
	display: flex
	justify-content: space-between
	align-items: center
	margin: 20px 0 0
	padding-right: 55px

.page-nav
	width: 100%

.toggle__menu
	display: flex
	justify-content: space-between
	background-image: linear-gradient(to right, transparent, rgba(255,255,255,.1) 50%, transparent)

	li
		width: 100%
		text-align: center
	.menu-link
		display: block
		padding: 20px 0
		color: #fff
		font: 16px $title-font-family
		text-transform: uppercase
		cursor: pointer
		text-decoration: none
		transition: linear 0.3s all
		&:hover
			background-image: linear-gradient(to right, rgba(5,52,72,.4), rgb(5,52,72) 50%, rgba(5,52,72,.4))
			transition: linear 0.3s all







.remont
	&-xcol-1
		flex: 0 0 43%
		max-width: 43%
		order: 1
	&-xcol-2
		flex: 0 0 23%
		max-width: 23%
		order: 2
	&-xcol-3
		flex: 0 0 23%
		max-width: 23%
		margin-left: 2%
		order: 3
	&-xcol-4
		flex: 0 0 92%
		max-width: 92%
		margin-left: 8%
		order: 4
		
	.slider-for-wrap
		position: relative
		.slick-arrow
			display: none
	.slider-for
		margin-top: 20px
	&-offer-list
		margin-top: -25px
		font: 22px $title-font-family
		text-align: center
		list-style-type: none
		color: #bae6f0
	.slider-nav-wrap
		position: relative
	.slider-nav
		max-height: 514px
		padding: 50px 0
		overflow: hidden
		background-image: linear-gradient(to bottom, transparent, rgba(255,255,255,.25) 50%, transparent)
		&-prev, &-next
			width: 31px
			height: 21px
			left: 50%
			transform: translateX(-50%)
		&-prev
			top: 0
			&:hover
				background-position: 100% 0
		&-next
			bottom: 0
			background-position: 0 100%
			&:hover
				background-position: 100% 100%
		&-image
			max-width: 182px 
			height: 126px

	.slider-nav-slide
		margin-top: 10px
		overflow: hidden
	

	.slider-for-image
		overflow: hidden
		display: flex
		min-width: 335px
		min-height: 370px
		height: 1px
		align-items: center
		justify-content: center
	.slider-nav-image
		overflow: hidden
		box-shadow: 0 0 10px rgba(0,0,0,.75)
		border: 1px solid #2a456e


.remont-akpp
	padding-top: 3px
	&-text
		font-size: 20px
		color: #fff
		&-upper
			text-transform: uppercase
		&-underline
			margin-top: -6px
			border-bottom: 1px solid #fff

	&-price
		font-size: 30px
		font-weight: bold
		background: linear-gradient(to top, #ac0600, #e88a00)
		background-position: 0 3px
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent
		color: #e88a00
	&-pricing
		margin-top: 10px
		font-size: 30px
		color: #95c3d6

	&-symptoms
		max-width: 244px
		padding: 40px 15px 25px
		background: url('../img/repair-symptoms-bg.png') no-repeat 50% 0
		background-size: 100%
		font-size: 14px	
		line-height: 1.7
		text-transform: uppercase

.repair-btn-wrap
	margin-top: 20px
.repair-btn
	width: 241px
	padding: 12px 15px



.repair-attention
	margin-top: 20px
	padding: 17px 35px
	display: flex
	align-items: center
	font-weight: bold
	border: 2px dotted #084c68
	border-right: none
	border-top-left-radius: 100px
	border-bottom-left-radius: 100px
	
	&-symbol
		display: block
		font-size: 90px
		line-height: 70px
		color: #158bbd
		margin-right: 25px
	&-text
		font-style: italic
















.section-2
	padding: 0 0 28px
	position: relative
	z-index: 1
	&:before
		content: ''
		display: block
		width: 100%
		height: 100%
		position: absolute
		top: 0
		left: 0
		background: url('../img/s-bg.jpg') no-repeat
		background-size: cover
		background-position: 100% 0
		z-index: -1

.otzuvu
	margin-top: 38px
	padding: 0 135px
	position: relative
	&-xcol-1
		flex: 0 0 50%
		max-width: 50%
		padding: 0 20px
	&-xcol-2
		flex: 0 0 50%
		max-width: 50%
		padding: 0 20px
.slider-otzuvu
	color: #000

	.slide
		margin: 0 3px

	&-image-wrap
		margin-top: 5px
		max-width: 415px
		max-height: 390px
		border: 2px solid #fff
		border-radius: 5px
		box-shadow: 0 0 5px 3px rgba(0,0,0,.25)
		display: flex
		justify-content: center
		align-items: center
	&-head
		font-size: 22px
		text-transform: uppercase
		font-weight: bold
	&-reason, &-price
		font-size: 20px
	&-commentator-name
		margin-top: 12px
		font-size: 20px
		font-style: italic
		font-weight: bold
		color: #168abd
		padding-left: 60px
		position: relative
		&::before
			content: ''
			display: inline-block
			position: absolute
			top: 0
			left: 0
			background: url('../img/sprite.png') no-repeat
			background-position: -187px 0
			width: 33px
			height: 28px
	&-comment
		margin-top: 20px
		font-size: 14px
		line-height: 1.45

	&-prev, &-next
		display: block
		top: 39%
		width: 0
		height: 0
		border: 21px solid transparent
		background-image: none
		transition: linear 0.3s all
		&:hover
			border-right-color: #6dbeff
			transition: linear 0.3s all
			border-left-color: #6dbeff
	&-prev
		left: 0
		border-left: 0
		border-right-color: #2196f3
	&-next
		right: 0
		border-right: 0
		border-left-color: #2196f3



.otzuvu-btn-wrap
	margin-top: 23px
.otzuvu-btn
	width: 100%
	max-width: 400px
	padding: 17px 0
	font-size: 18px
	border: 2px solid #fff
	box-shadow: 0 -2px 5px rgba(0,0,0,.5)
	background-image: none
	background-color: #158bbd
	&:hover
		border: 2px solid #fff
		box-shadow: 0 0 5px rgba(0,0,0,.5), inset 0 0 20px 2px rgba(255,255,255,.6)








.section-separator
	height: 18px
	background-color: #d0d0d0
	background-image: linear-gradient(90deg, #d0d0d0 50%, #158bbd 50%)











.section-3
	padding: 25px 0 10px
	position: relative
	&:before
		content: ''
		display: block
		width: 100%
		height: 100%
		position: absolute
		top: 0
		left: 0
		background: url('../img/s-bg.jpg') no-repeat
		background-size: cover
		background-position: 100% 0
		z-index: -1
		transform: scale(-1)
	&-wrapper
		padding: 20px 120px 0

	&-title
		margin-bottom: 24px
	&-xcol
		flex: 0 0 50%
		max-width: 50%
		padding: 0 10px
	&-item
		min-height: 114px
		height: 1px
		display: flex
		align-items: center
		margin-bottom: 20px
		padding: 0 10px 0 30px
		background-color: #fff
		box-shadow: 4px 4px 21px rgba(153, 180, 195, .75)
	&-icon
		flex: 0 0 65px
		width: 65px
		height: 67px
		background: url('../img/adv-sprite.png') no-repeat
		&-1
			background-position: 3px 5px
		&-2
			background-position: -73px 3px
		&-3
			background-position: -151px 4px
		&-4
			background-position: -228px 50%
		&-5
			background-position: -307px 50%
		&-6
			background-position: -379px 9px
		&-7
			background-position: -458px 5px
		&-8
			background-position: -537px 12px
	&-text
		padding-left: 25px
		font-size: 20px
		line-height: 1.2
		color: #1b98b1
		&-accent
			font-family: $title-font-family











.section-form
	background-image: linear-gradient(90deg, #8795a2 29%, #0074a5 29%)
	.xrow
		align-items: center
	&-xcol-1
		flex: 0 0 27%
		max-width: 27%
	&-xcol-2
		flex: 0 0 73%
		max-width: 73%

	&-info
		min-height: 122px
		position: relative
		padding: 15px 0 15px 50px
		font: 18px $title-font-family
		text-transform: uppercase
		text-align: right
		color: #fff
		background-color: #8795a2
		&::after
			content: ''
			position: absolute
			top: 0
			right: -51px
			display: inline-block
			border: 61px solid transparent
			border-right: 0
			border-left-color: #8795a2
			transform: scaleX(.7)

	&-form-wrap
		padding-left: 21px
	&-form
		input
			width: 100%
			
			padding: 8px 30px 8px 15px
			color: #004c78
			border: 1px solid rgba(45, 162, 195,.7)
			border-radius: 5px
	.name
		max-width: 188px
	.tel
		max-width: 221px
	.label-name, .label-tel
		margin-right: 45px
		position: relative
		&::after
			content: ''
			display: inline-block
			width: 27px
			height: 27px
			position: absolute
			top: -6px
			left: 0
			z-index: 1
			background: url('../img/sprite.png') no-repeat
			
	.label-name
		padding-left: 40px
		&::after
			background-position: -145px 0
	.label-tel
		padding-left: 35px
		&::after
			width: 20px
			background-position: -104px -3px

	.form-btn
		position: relative
		top: 1px
		width: 100%
		max-width: 160px
		padding: 14px
		font-size: 18px
		line-height: 1.6
		border: 2px solid #fff
		box-shadow: 0 -2px 5px rgba(0,0,0,.5)
		background-image: none
		background-color: #158bbd
		&:hover
			border: 2px solid #fff
			box-shadow: 0 0 5px rgba(0,0,0,.5), inset 0 0 20px 2px rgba(255,255,255,.6)

		// &:disabled
		// 	background-color: rgb(109, 200, 136)
		// 	&:hover
		// 		background-color: rgb(109, 200, 136)
	









@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
	.section-5-head, .remont-akpp-price, .decorated-head
		background-image: none!important












.section-5
	padding: 33px 0 16px
	background: url('../img/s5-bg.jpg') no-repeat
	background-size: cover
	background-position: center
	.xrow
		align-items: stretch
	&-head
		margin-bottom: 15px
		background-image: linear-gradient(#fff, #cfcfcf 50%)
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent
		color: #cfcfcf
	&-xcol
		flex: 0 0 50%
		max-width: 50%
		padding: 5px 20px

	&-locations
		padding: 0 50px

	&-address-wrap
		padding: 10px

	&-address
		height: 100%
		min-height: 137px
		position: relative
		padding: 20px
		color: #000
		line-height: 1.4
		border-radius: 8px
		cursor: pointer
		transition: all .3s
		background-image: linear-gradient(#cfcfcf, #fff)
		box-shadow: inset 0 -4px 8px rgba(0,0,0,.5)
		&:hover
			border-color: #ffa200
			transition: all .3s
			.write-link
				text-decoration: none
		&::before
			content: ''
			display: inline-block
			width: 23px
			height: 24px
			position: absolute
			top: 40%
			right: 32px
			background: url('../img/sprite.png') no-repeat
			background-position: -385px 0


		&-title
			font: 1.25em $title-font-family
		&-descr, &-time
			font-size: 1.125em
		&-descr
			margin-top: 3px
		&-time
			margin-top: -4px
	.write-link
		color: #0042ff
		font-size: 18px
		text-decoration: underline


















.section-6
	padding: 20px 0
	position: relative
	background-image: url('../img/s-bg.jpg')
	background-repeat: no-repeat
	background-size: 100%
	background-position: 100% 0
	&:before, &:after
		content: ''
		display: block
		width: 100%
		height: 100%
		position: absolute
		top: 0
		left: 0
		background-repeat: no-repeat
		background-size: 100%
		z-index: -1
	&:before
		background-image: url('../img/s-bg.jpg')
		background-position: 100% 45%
		transform: scale(1,-1)
	&:after
		background-image: url('../img/s-bg.jpg')
		background-position: 92px -14%
		transform: scale(-1)
		


.section-map
	margin-bottom: 10px
	position: relative
	&-head
		margin-bottom: 25px
		text-transform: none
.map-container
	height: 500px
	margin: 0 90px
	box-shadow: 0 0 5px 1px rgba(0,0,0,.9)
	overflow: hidden


.section-text
	margin-right: auto
	margin-left: auto
	padding: 15px
	.block-title
		margin-bottom: 24px
	.text-list-wrap
		margin-bottom: 25px

	h1,h2,h3,h4,h5,h6
		font-family: $title-font-family
		color: $title-color
		margin-top: .7em
		margin-bottom: .8em
		text-align: center
		line-height: 1.3

	h1
		font-size: 1.875em
	h2
		font-size: 1.625em
	h3
		font-size: 1.45em
	h4
		font-size: 1.25em
	h5
		font-size: 1.1em
		line-height: 1.4
	h6
		font-size: 1em
		line-height: 1.4


	p
		margin: 0 0 20px 0
		font-size: 1em
		color: #000
		line-height: 1.25
		&:last-child
			margin-bottom: 0

	blockquote
		margin-top: 19px
		margin-bottom: 19px
		padding: 14px 59px
		color: #054b69
		position: relative
		text-align: center
		font-size: 16px
		font-style: italic
		&:before
			font-size: 45px
			color: #054b69
			position: absolute
			top: 0
			height: 2px
			left: 39px
			right: 39px
			line-height: .5
			background: linear-gradient(to right, #054b69 45%, transparent 45%, transparent), linear-gradient(to right, transparent, transparent 55%, #054b69 55%)
			font-family: serif
			content: "\201C"
		&:after
			font-size: 45px
			color: #054b69
			position: absolute
			bottom: 0
			height: 2px
			left: 39px
			right: 39px
			line-height: .5
			background: linear-gradient(to right, #054b69 45%, transparent 45%, transparent), linear-gradient(to right, transparent, transparent 55%, #054b69 55%)
			font-family: serif
			content: "\201D"


	ul, ol
		margin: 11px 0 0 0
		padding: 0 0 0 59px
		font-size: 1em
		line-height: 1.2
		list-style-type: disc
		&.columns-2
			&:before, &:after
				content: " "
				display: table
				clear: both
			li
				width: 47%
				float: left
				&:nth-child(2n+1)
					margin-right: 6%

	.image-gallery
		max-width: 595px
		margin: 19px auto 0
		margin-top: 19px
		display: flex
		flex-wrap: wrap
		justify-content: center
		align-items: center

	.image-wrap
		display: flex
		align-items: center
		justify-content: center
		&-sm, &-md, &-lg
			overflow: hidden
			margin: 7px
		&-sm
			width: 182px
			height: 126px
		&-md
			width: 273px
			height: 189px
		&-lg
			width: 364px
			height: 252px
	// .text-image
	// 	width: auto
	// 	height: 100%


	table
		min-width: 530px
		margin: 21px auto
		border: 4px solid #3b72c9
		border-radius: 5px
		font-size: 14px
		th,td
			padding: 2px 0 1px
			border-bottom: 1px solid #3b72c9
			text-align: center

		th
			padding: 5px 5px 5px 0
			color: #003366
			&:first-child
				padding-left: 40px
		td
			color: #0099cc
			font-weight: 400
			
		.image-cell
			width: 50px
			text-align: center

// .section-text-footer
// 	padding: 0 50px

.text-xcol-1
	flex: 0 0 59%
	max-width: 59%
.text-xcol-2
	flex: 0 0 41%
	max-width: 41%


.decorated-head 
	font: 26px $title-font-family
	background-image: linear-gradient(#ffcc99, #ffcc00 50%)
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent
	color: #ffcc00
	text-align: center

.decorated-head-icon
	position: relative
	&::after
		content: ''
		position: absolute
		top: -12px
		right: -12px
		display: inline-block
		width: 35px
		height: 38px
		background: url('../img/sprite.png') no-repeat
		background-position: -476px 0

@supports (-webkit-text-stroke: 1px blue) 
	.decorated-head 
		-webkit-text-stroke: 1px #000
  

.text-form-wrap
	max-width: 280px
	margin: 22px auto 8px

.text-form
	label
		width: 100%
		display: block
		margin-bottom: 10px
		min-height: 42px
		background-color: #dcdcdc
		padding-left: 42px
		background-image: url('../img/sprite.png')
		background-repeat: no-repeat
		
		color: #000
		&.label-name
			background-position: -230px 13px
		&.label-email
			background-position: -332px 11px
		&.label-tel
			background-position: -283px 12px
		
	input
		width: 100%
		padding: 14px 12px 12px 35px
		background-color: #dcdcdc
		border: none
		outline: none
		border-left: 2px solid #fff
		font-size: 14px
		color: #000
		&:focus
			box-shadow: inset -3px 3px 20px -7px rgba(0, 0, 0, 0.5)

		&::-webkit-input-placeholder
			color: #000
			opacity: 1

		&:-moz-placeholder
			color: #000
			opacity: 1

		&::-moz-placeholder
			color: #000
			opacity: 1

		&:-ms-input-placeholder
			color: #000
			opacity: 1

		&:focus:required:invalid
			box-shadow: inset 0 0 0 2px rgba(255,0,0,.5) 

	.text-form-btn
		text-transform: none
		position: relative
		top: 1px
		width: 100%
		max-width: 190px
		padding: 2px
		font-size: 16px
		font-family: $default-font-family
		line-height: 1.6
		border: 2px solid #fff
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
		background-image: none
		background-color: #158bbd
		&:hover
			border: 2px solid #fff
			box-shadow: 0 0 5px rgba(0,0,0,.5), inset 0 0 20px 2px rgba(255,255,255,.6)
	.text-form-btn-wrap
		margin-top: 15px
		text-align: center







.footer
	min-height: 85px
	height: 1px
	display: flex
	align-items: center
	background: #06364c url('../img/s5-bg.jpg') no-repeat
	background-size: 200%
	background-position: center
	box-shadow: inset 0 -3px 10px rgba(0,0,0,.5)

	&-xcol-1
		flex: 0 0 32%
		max-width: 32%
	&-xcol-2
		flex: 0 0 25%
		max-width: 25%
		display: flex
		align-items: center
	&-xcol-3
		flex: 0 0 25%
		max-width: 25%
	&-xcol-4
		flex: 0 0 18%
		max-width: 18%
		display: flex
		align-items: center

	&-info
		display: flex
		align-items: center
		color: #99cccc

	.copy
		font-size: 12px
		color: #0099cc
		text-transform: uppercase
		font-weight: bold
	.phone-link
		color: #99cccc
.work-time-wrap
	margin-left: 20px
.footer-work-time-icon
	width: 41px
	height: 38px
	background-position: -43px 0
.footer-phone-icon
	width: 29px
	height: 44px
	background-position: 0 0














.mfp-close
	display: block
	position: absolute
	top: -4px
	font-size: 12px
	width: 17px
	height: 17px
	background: url('../img/sm-sprite.png') no-repeat -248px 0px
	z-index: 1
	cursor: pointer
	opacity: 1
	&:hover
		background-position: -271px 0px







.for-images-modal
	position: fixed
	top: 50%
	left: 50%
	transform: translate(-50%,-50%)
	border: #777
	box-shadow: 0 0 7px -2px rgba(0,0,0,.2)
	padding: 5px
	border-radius: 5px
	background: #fff
	z-index: 1044
	#modal-close
		display: block
		position: absolute
		top: -25px
		right: 0
		font-size: 12px
		width: 17px
		height: 17px
		background: url('../img/sm-sprite.png') no-repeat -248px 0px
		z-index: 1
		cursor: pointer
		opacity: 1
		&:hover
			background-position: -271px 0px






.scroll-button-wrap
	display: flex
	justify-content: center
	align-items: center
	position: fixed
	left: calc(5% - 12px)
	bottom: 5%
	width: 75px
	height: 75px
	z-index: 2000

.scroll-button
	display: inline-block
	width: 50px
	height: 50px
	box-shadow: 1px 1px 10px rgba(0,0,0,.5)
	border-radius: 10px
	font-size: .8125em
	background-color: $accent-color
	background-image: url(../img/arrow_up.png)
	background-repeat: no-repeat
	background-size: 60%
	background-position: 50%
	color: #555
	cursor: pointer
	opacity: .9
	transition: transform 1s .1s
	&:hover
		transform: scale(1.05)












.call-button
	position: fixed
	bottom: 5%
	right: 5%
	z-index: 999

	.pulse, .cursor, .phone 
		position: absolute
		width: 75px
		height: 75px
		color: #fff
		text-align: center
		border-radius: 50%

	.cursor 
		cursor: pointer
		z-index: 2
		overflow: hidden

	.pulse 
		background: #6dc888
		position: relative
		transition: .5s ease-in-out

	.phone 
		font-size: 35px
		line-height: 78px
		animation: phone .9s ease-in-out infinite


	.phone i 
		transition: .5s ease-in-out

	.pulse:hover 
		background: #29AEE3


	.pulse:hover::before,
	.pulse:hover::after 
		content: ''
		position: absolute
		border: 1px solid #29AEE3
		left: -20px
		right: -20px
		top: -20px
		bottom: -20px
		border-radius: 50%
		animation: pulse 1.8s linear infinite
		opacity: 0

	.pulse:hover::after 
		animation-delay: .5s

	.fa
		font-family: 'Font Awesome'
		font-weight: 900
		-moz-osx-font-smoothing: grayscale
		-webkit-font-smoothing: antialiased
		display: inline-block
		font-style: normal
		font-variant: normal
		text-rendering: auto
		line-height: 1
		&-phone:before
			 content: "\f095"


@keyframes phone
	0%, 100%
		transform: rotate(-20deg)
	50%
		transform: rotate(21deg)


@keyframes pulse
	0%
		transform: scale(0.5)
		opacity: 0
	50%
		opacity: 1
	100%
		transform: scale(1.2)
		opacity: 0












.er404
	font-family: $title-font-family
	text-align: center
	padding-top: 20vh
	text-transform: uppercase
	&-number
		font-size: 10em
		color: $accent-color
	&-text
		font-size: 5em
		line-height: 1.2
		color: #000

	.redirect
		font-size: 2em
		padding: 0 1em
	#sec
		display: block
		color: #3c5c97
		font-size: 2em







@import "media" // Всегда в конце